body {
  font-family: 'Poppins', sans-serif;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

#fitbit-list {
  list-style-type: none;
  padding-left: 0;
}

#portfolio {
  text-decoration: none;
  color: #248754;
}

@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}